.guide{
    padding: 40px;
    width: 274px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background: #21201E;
    box-shadow: 2px 0 90px 0 rgba(97, 0, 194, 0.40);
}

.logo{
    display: flex;
    width: 100%;
    height: 24px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.logo-h2{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
    letter-spacing: 1.32px;

}

.genre-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 35px;
}
