.guide {
    padding-top: 50px;
    width: 274px;
    height: 1024px;
    display: flex;
    justify-content:center;
    flex-shrink: 0;
    background: #21201E;
    box-shadow: 2px 0px 90px 0px rgba(97, 0, 194, 0.40);
}

.logo {

}

.logo-h2 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
